<div class="container">
    <div class="row p-md-5">
        <div class="col-12 mb-md-5">
            <h4>Welcome to the Admin Daashboard</h4>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-0 dash-card">
             <a href="/topics" class="link"><div class="card-body text-center">
                <h4>Topics</h4>
                <i class="fa fa-book fa-lg" aria-hidden="true"></i>
            </div></a>
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-0 dash-card">
                <a href="/subtopics" class="link">
                    <div class="card-body text-center">
                        <h4>Sub Topics</h4>
                        <i class="fa fa-book fa-lg" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 p-1">
            <div class="card p-0 dash-card">
                <a href="" class="link">
                    <div class="card-body text-center">
                        <h4>Questions</h4>
                        <i class="fa fa-question-circle fa-lg" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
       
        <div class="col-md-3 p-1">
            <div class="card p-0 dash-card">
                <a href="" class="link">
                    <div class="card-body text-center">
                        <h4>Employees</h4>
                       <i class="fa fa-male fa-lg" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
     

    </div>
</div>