<section class="section">
    <div class="container">
        <div class="row mt-md-5">
            <div class="col-md-10">
                <h3 class="display-4 text-center my-4">List of Employees</h3>
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Emp ID</th>
                            <th scope="col">Fullname</th>
                            <th scope="col">Username</th>
                            <th scope="col">Email</th>
                            <th scope="col">Department</th>
                        </tr>
                    </thead>
                    <tbody id="empList">
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>