<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h5 class="display-4 mb-3 text-center">Questions from Employees</h5>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Questions</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="questionList">
                   
                </tbody>
            </table>
        </div>

    </div>
</div>