<div class="jumbotron-fluid hero h-100">
  <div class="container">
      <div class="row">
       <div class="col-md-10 mx-auto mt-5 text-center py-5">
            <h1 class="display-1 text-white mt-5">Smart Start Limited</h1>
            <h2 class="display-4 text-white">Employee Handbook</h2>
            <a href="/login" class="btn btn-info my-5">Get Started</a>
           
       </div>
      </div>
  </div>
</div>