@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lora', serif;
}

.hero{
    height: 91vh !important;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/smart-start-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.dash-card{
    width: 90%;
    box-shadow: 5px 5px 10px #999;
    background-color: rgb(39, 165, 182);
}

.dash-card a{
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
}

.dash-card i{
    font-size: 60px;
    margin-top: 10px;
}

