/* @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap'); */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}


.hero{
    height: 91vh !important;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('/images/smart-start-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.username{
    color: #3cccbe;
}
.dash-card{
    width: 90%;
    box-shadow: 5px 5px 10px #999;
    background-color: rgb(31, 104, 114);
    transition: 0.5 ease;
}
.dash-card:hover{
    transform: scale(1.1);
}
.dash-card.card-body{
    padding: 15px!important;
}
.dash-card a{
    text-decoration: none;
    color: #ffff;
    font-weight: 700;
    text-transform: capitalize;
}

.dash-card i{
    font-size: 60px;
    margin-top: 10px;
    color: #3ecfc1;
}

.acc-card, .acc-header{
  background: transparent !important;
  border: none !important;
  padding:0px !important;
  margin-bottom: 20px;
}
.acc-card{
 
  box-shadow: 0 2px 25px 0 rgba(110,130,208, .18);
}

.btn-link{
  width: 100%;
  height: 60px;
  color: #000!important; 
  font-weight: bold!important;
  text-align: left!important;
  text-decoration: none!important;
 
}
.btn-link:after{
  content: "\2212";
  width: 35px;
  font-size: 25px;;
  text-align: center;
  border-radius: 5px;
  right: 15px;
  top: 11px;
  position: absolute;
  background-color: #e8eeff;
}
.btn-link.collapsed:after{
  content: "\002B";
}
.btn-link:before{
  content: "";
  height: 25px;
  width: 30px;
  position: absolute;
  background: #fff;
  z-index: 1;
  transform:rotate(45deg);
  left:30px;
  top: 46px;
}
.btn-link:focus{

  box-shadow: none;
}
.subtopic .acc-card , .subtopic .card-body{
  background-color: #e8eeff;
}
.subtopic .card-body{
    padding: 0!important;
}
.subtopic .card-body p{
    padding: 15px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    white-space: pre-line;
    
}
.subtopic .card-footer{
    background-color: #fff!important;
   width: 100%!important;
}